.token {
  @include flex;
  background: white;
  border: none;
  border-radius: 50%;
  height: 12.5rem;
  width: 12.5rem;
  box-shadow: inset 0 -0.4375rem 0 0 var(--token-shadow-color);

  &::before {
    content: '';
    background: white;
    border-radius: 50%;
    height: 75%;
    width: 75%;
    box-shadow: inset 0 0.4375rem 0 0 var(--token-shadow-color);
  }

  &--image {
    position: absolute;
    scale: 1.25;
  }

  &__paper {
    background: var(--paper-gradient);
  }

  &__scissors {
    background: var(--scissors-gradient);
  }

  &__rock {
    background: var(--rock-gradient);
  }

  &__clickable {
    cursor: pointer;

    &:hover a:focus {
      transform: scale(0.98);
    }
  }

  &__big {
    height: 18.75rem;
    width: 18.75rem;

    & > .token--image {
      scale: 2;
    }
  }

  @media (max-width: $breakpoint) {
    height: 8.125rem;
    width: 8.125rem;
    box-shadow: inset 0 -0.25rem 0 0 var(--token-shadow-color);

    &::before {
      box-shadow: inset 0 0.25rem 0 0 var(--token-shadow-color);
    }

    &--image {
      scale: 0.9;
    }

    &__clickable {
      &:hover,
      &:focus,
      &:active {
        transform: scale(0.96);
      }
    }

    &__big {
      height: 8.125rem;
      width: 8.125rem;

      & > .token--image {
        scale: 0.9;
      }
    }
  }
}

.house-pick {
  visibility: hidden;
}
