.column {
  @include flex(column);

  &:first-child {
    margin-right: 2.55rem;
  }

  &:last-child {
    margin-left: 2.55rem;
  }

  &--title {
    font-size: 1.6rem;
    letter-spacing: 0.15rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  @media (max-width: $breakpoint) {
    flex-direction: column-reverse;
    width: 9.2rem;

    &:first-child {
      margin-right: 1.275rem;
    }

    &:last-child {
      margin-left: 1.275rem;
    }

    &--title {
      font-size: 1rem;
      letter-spacing: 0.1rem;
      margin: 1.5rem 0 0 0;
    }
  }
}
