.header {
  @include flex($j: space-between);
  border: 0.1875rem solid var(--border-color);
  border-radius: 0.625rem;
  width: 44rem;
  padding: 1rem 1.375rem;
  margin-bottom: 2rem;

  &--logo {
    height: 6.125rem;
    margin: 0 0.25rem;
  }

  @media (max-width: $breakpoint) {
    width: 19.6875rem;
    padding: 0.625rem;
    margin-bottom: 4rem;

    &--logo {
      height: 3.0625rem;
      margin: 0 0.75rem;
    }
  }
}
